<div id="sidebar" class="span3 sidebar-right">

  <ul class="nav inset-margin">
    <li>
      <a class="btn blue" href="#"><i class="icon-plus"></i> New Store </a>
    </li>

    <li>
      <a class="btn green" href="#"><i class="icon-pencil"></i> Create Campaign</a>
    </li>
    <li>
      <a class="btn orange" href="#"><i class="icon-user"></i> Add Employee </a>
    </li>
  </ul>

  <%= render "blank_slate" %>
  
  <div class="heading-bar">
    <h5 class="pull-left">Plans</h5>
    <div class="pull-right"><a href="#"><i class="icon-pencil"></i> Edit</a></div>
  </div>

  <div class="shadow-box green">
    <h4><i class="icon-trophy"></i> Upgrade now</h4>
    <div>Get major benefits with our premium subscriptions plans</div>
  </div>

  <div class="shadow-box">
    <h4><i class="icon-question-sign"></i> Questions? Need Help?</h4>
    <div>Check out our <a href="#">Help section</a> or simply <a href="#">get in touch</a></div>
  </div>



</div>